<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Histórico de Fumaça</title>
</head>
<body>
    <div class="container">
        <h2>Histórico de Fumaça</h2>
        <table>
            <tr>
                <th>Data</th>
            </tr>
            {% for registro in historico %}
            <tr>
                <td>{{ registro['data'] }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/" class="button">Voltar</a>
    </div>
</body>
</html>